# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Rust / WASM
webrtc-wasm/target/
webrtc-wasm/Cargo.lock
webrtc-wasm/pkg/*.wasm
webrtc-wasm/pkg/*.js
webrtc-wasm/pkg/*.ts
webrtc-wasm/pkg/.gitignore
webrtc-wasm/pkg/package.json
webrtc-wasm/pkg/README.md

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log
